<!--
C:\140525publicC\web-app\totest\140528LearnInputbox\140528ReflectInputTextBox_TwoApps.html
-->

<!DOCTYPE html>
<head>
    <title>Learning AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="maincontroller.js" type="text/javascript"></script>
</head>
<body >
<div ng-app='MyTutorialApp'>
    <div id='content' ng-controller='MainController'>
        <input type='text' ng-model='inputValue' />
        {{inputValue}}
    </div>

    <button type="button" onclick="doclickhk()">Click Me!</button>

    <div ng-controller='MainController'>

        <li ng-repeat="itemh in items">
            {{itemh}}
        </li>

        <li ng-repeat="itemj in items3">
            {{itemj}}
        </li>


        <li ng-repeat="country in countries">
            {{country.name}} has population of {{country.population}}
        </li>
    </div>

</div>



</body>
</html>